.additional-goods {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $white;
}

.additional-goods__wrapper {
  padding: 0 20px;
}

.additional-goods__title {
  font-family: Oswald, Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.additional-goods__list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  padding: 0;
  list-style: none;
}

.additional-goods__item {

}
