.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.categories__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.categories__item {

}
