@use "../global/variables" as *;

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;

  @media (min-width: $tablet) {
    padding: 0 30px;
  }

  @media (min-width: $desktop) {
    padding: 0;
    max-width: 1440px;
  }
}
