.form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}

.form__title {
  font-family: Oswald, Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: $black;
}

.form__input-area {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
}

.form__row {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: stretch;
  align-items: center;
  gap: 10px;
}

.form__label {
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: $special-dark-grey;
  
  &:hover {
    cursor: pointer;
  }

  &--radio {
    color: $special-dark-grey-2;
  }

  &--checkbox {
    color: $black;
  }
}

.form__input-text {
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid $grey-border-input;

  &:hover {
    border-color: $special-grey;
  }

  &:focus {
    border-color: $special-dark-grey;
    outline: none;
  }

  &::placeholder {
    font-family: Oswald, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
}

.form__checkbox-area,
.form__radio-area {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: stretch;
  align-items: center;
  gap: 10px;
}


.form__input-radio {

  &:hover {
    cursor: pointer;
  }
}

.form__textarea {
  width: 100%;
  box-sizing: border-box;
  resize: none;
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;

  &::placeholder {
    font-family: Oswald, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
}

.form__footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  padding: 20px 0;
}

.form__obligatory {
  font-family: Lato, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: $black;
}
