.gift-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 30px 20px;
  background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/gift-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.gift-container__text {
  font-family: Lato, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: $white;
  margin: 0;
  text-align: center;
}
