.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-content: center;
  align-items: center;
}

.header__item {
  justify-self: center;
  padding: 10px 20px;
}

.header__logo {

}

.header__toggle {
  outline: none;
  border: 0;
  background: none;

  &:hover {
    cursor: pointer;
  }
}
