@use "../global/variables" as *;

.label-text {
  font-family: $secondary-font-family;
  font-size: 16px;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: normal;
  }
}
