.live-example {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  background: #eaeaea;
}

.live-example__title {
  font-family: Oswald, Arial, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: #000000;
}

.live-example__text {
  margin: 10px 0;
  font-family: Lato, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}

.live-example__result-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.live-example__result-item {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.live-example__number {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 5px;
  font-family: Oswald, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #555555;
  border-radius: 5px;
}

.live-example__description {
  position: relative;
  top: -10px;
  margin: 0;
  padding: 0 5px;
  font-family: Lato, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  background: #eaeaea;
}

.live-example__expenses {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.live-example__expenses-text {
  margin: 0;
  font-family: Oswald, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.live-example__slider {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
