.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $white;
}

.location--secondary {
  background: $basic-grey;
}

.location__wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.location__address {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.location__title {
  margin: 0;
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.location__text-wrapper {

}

.location__text {
  font-family: Lato, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 5px 0;
  color: $special-dark-grey;
}
