@use "../global/variables" as *;

.main__container {
  border-bottom: 1px solid $grey-light;

  @media (min-width: $tablet) {
    border-bottom: none;
  }
}

.main__title {
  margin: 27px 0 41px;
  text-align: left;

  @media (min-width: $tablet) {
    margin: 65px 0 84px;
  }

  @media (min-width: $desktop) {
    margin: 74px 0 84px;
  }
}

.main__intro {
  position: relative;
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    margin-bottom: 82px;
  }
}

.main__categories {
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 71px;
  }
}

.main__how-work {
  margin-bottom: 49px;

  @media (min-width: $tablet) {
    margin: 0;
  }

  @media (min-width: $desktop) {
    margin-bottom: 69px;
  }
}

.main__product-catalog {
  margin-bottom: 25px;

  @media (min-width: $tablet) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 76px;
  }
}

.main__extra-goods {
  margin-bottom: 35px;

  @media (min-width: $tablet) {
    margin-bottom: 75px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 87px;
  }
}

.main__program-selection {
  margin-bottom: 32px;

  @media (min-width: $tablet) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 80px;
  }
}
