@use "variables" as *;

.main__title {
  padding: 0 20px;
  font-size: 36px;
  font-weight: 400;
}

.main__intro {
  position: relative;
  margin: 0 0 20px 0;
}

.main__categories {
  margin: 0 0 20px 0;
}

.main__how-work {
  margin: 0 0 20px 0;
}

.main__additional-goods {
  margin: 0 0 20px 0;
}
