@use "../global/variables" as *;

.main__intro {
  position: relative;
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    margin-bottom: 82px;
  }
}

.main__categories {
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 71px;
  }
}

.main__how-work {
  margin-bottom: 49px;

  @media (min-width: $tablet) {
    margin: 0;
  }

  @media (min-width: $desktop) {
    margin-bottom: 101px;
  }
}

.main__product-catalog {
  margin-bottom: 25px;

  @media (min-width: $tablet) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 79px;
  }
}

.main__extra-goods {
  margin-bottom: 35px;

  @media (min-width: $tablet) {
    margin-bottom: 75px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 86px;
  }
}

.main__program-selection {
  margin-bottom: 32px;

  @media (min-width: $tablet) {
    margin-bottom: 59px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 79px;
  }
}
