.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: span 3;
  background: $white;
}

.navigation__wrapper {
  width: 100%;
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation__link {
  font-family: Oswald, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  color: $black;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--current {
    border-bottom: 2px solid $basic-green;
  }
}

.navigation__item {
  padding: 10px 20px;
  border-top: 1px solid $line-navigation;

  &:last-child {
    border-bottom: 1px solid $line-navigation;
  }
}

