.product-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
  border-top: 1px solid $special-grey-2;

  &:last-child {
    border-bottom: 1px solid $special-grey-2;
  }

  &--show-all {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
}

.product-item__image-container {
  justify-self: center;
}

.product-item__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
}

.product-item__title {
  margin: 0;
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-dark-grey-2;
}

.product-item__text {
  margin: 0;
  font-family: Lato, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: $special-dark-grey;
}

.product-item__parameters {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 2px;
  font-family: Lato, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: $special-dark-grey;
}

.product-item__key {

}

.product-item__value {
  justify-self: center;
  margin: 0;
}

.product-item__button {
  grid-column: span 2;
  align-self: stretch;
}
