@use "../global/variables" as *;

.slider {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  justify-content: center;

  @media (min-width: $tablet) {
    grid-template-columns: repeat(2, 280px);
  }
}

.slider__item {
  position: relative;
  height: 256px;
  overflow: hidden;

  @media (min-width: $tablet) {
    height: 512px;
  }
}

.slider__image {
  position: absolute;

  @media (min-width: $tablet) {
    width: 560px;
    height: 512px;
  }

  &--before {
    left: 0;
  }

  &--after {
    right: 0;
  }
}

.slider__control {
  position: absolute;
  left: calc(50% - 20px);
  z-index: 10;
  display: flex;
  justify-content: center;
  width: 40px;
  height: 256px;

  &:hover {
    border-color: $primary-color;
  }

  &:active {
    border-color: $hover-button-color;
  }

  @media (min-width: $tablet) {
    height: 512px;
  }
}

.slider__control-line {
  width: 0;
  height: 100%;
  border: 2px solid $grey-dim;
  border-radius: 2px;
}

.slider__control-circle {
  position: absolute;
  top: calc(50% - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 40px;
  height: 40px;
  border: 2px solid $grey-dim;
  border-radius: 50%;
  outline: none;
  background: $secondary-color;

  &:hover {
    cursor: pointer;
    border-color: $primary-color;
  }

  &:active {
    border-color: $hover-button-color;
    opacity: 0.6;
  }

  &:focus {
    outline: 1px solid $primary-text-color;
  }

  &::before,
  &::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
  }

  &::before {
    border-right: 9px solid $grey-dim;
  }

  &::after {
    border-left: 9px solid $grey-dim;
  }


  &:hover + .slider__control-line {
    border-color: $primary-color;
  }

  &:active + .slider__control-line {
    border-color: $hover-button-color;
    opacity: 0.6;
  }

  &:hover::before {
    border-right-color: $primary-color;
  }

  &:hover::after {
    border-left-color: $primary-color;
  }

  &:active::before {
    border-right-color: $hover-button-color;
  }

  &:active::after {
    border-left-color: $hover-button-color;
  }
}
