@use "../variables" as *;

.additional-goods {
  display: flex;
  align-items: center;
}

.additional-goods__wrapper {
  width: 100%;
  padding: 0 20px;
}

.additional-goods__title {
  font-size: 24px;
  font-weight: 400;
}

.additional-goods__list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  padding: 0;
  list-style: none;
}
