@use "../variables" as *;

.how-work {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.how-work__title {
  margin: 0 0 20px 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.how-work__list {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  gap: 20px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-min-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
}

.how-work__item {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: center;
  align-items: center;
  gap: 20px;

  @media (min-width: $tablet-min-width) {
    grid-template-columns: 1fr;
  }
}

.how-work__picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: $primary-color;
}

.how-work__description {
  margin: 0;
  text-align: left;
  color: $secondary-text-color;
}
