@use "../variables" as *;

.live-example {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  background: $special-background-color;
  @media (min-width: $tablet-min-width) {
    background-color: transparent;
    background-image:  linear-gradient(to top, rgba($special-background-color, 0.85) 250px, transparent 250px);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.live-example__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.live-example__title {
  grid-column: span 2;
  margin: 30px 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.live-example__text {
  grid-column: span 2;
  margin: 10px 0;
  text-align: left;
  color: $secondary-text-color;
}

.live-example__result-list {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: start;
  gap: 20px;
  @media (min-width: $tablet-min-width) {
    grid-column: 1;
  }
}

.live-example__result-item {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.live-example__number {
  width: 100%;
  padding: 15px 5px;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid $color-line-block;
  border-radius: 5px;
}

.live-example__description {
  position: relative;
  top: -10px;
  margin: 0;
  width: 80%;
  font-family: $secondary-font-family;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: $secondary-text-color;
  text-align: center;
  background: $special-background-color;
  @media (min-width: $tablet-min-width) {
    background: $secondary-color;
  }
}

.live-example__expenses {
  justify-self: center;
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 5px;
  @media (min-width: $tablet-min-width) {
    justify-self: end;
    grid-column: 2;
    grid-template-columns: 1fr;
    justify-content: end;
  }
}

.live-example__expenses-text {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  @media (min-width: $tablet-min-width) {
    justify-self: end;
  }
}

.live-example__slider {
  grid-column: span 2;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.live-example__image {
  @media (min-width: $tablet-min-width) {
    width: 560px;
    height: 512px;
  }
}
