@use "../variables" as *;

.product-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
  border-top: 1px solid $grey-lighter;

  &:last-child {
    border-bottom: 1px solid $grey-lighter;
  }

  &--show-all {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
}

.product-item__image-container {
  justify-self: center;
}

.product-item__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 10px;
}

.product-item__title {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: $grey-dark;
}

.product-item__text {
  margin: 0;
  font-family: $secondary-font-family;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: $secondary-text-color;
}

.product-item__parameters {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 2px;
  font-family: $secondary-font-family;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: $secondary-text-color;
}

.product-item__value {
  justify-self: center;
  margin: 0;
}

.product-item__button {
  grid-column: span 2;
}
