@use "../global/variables" as *;

.categories-card {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
  background: $secondary-background-color;
  padding: 20px;
}

.categories-card__title {
  grid-column: 2;
  grid-row: 1;
  margin: 10px 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-align: left;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    grid-column: 1;
    font-size: 36px;
    line-height: 36px;
  }
}

.categories-card__icon {
  grid-column: 1;
  grid-row: 1;

  @media (min-width: $tablet) {
    grid-column: 2;
    grid-row: span 3;
  }

  &--slim {
    width: 50px;
    height: 53px;

    @media (min-width: $tablet) {
      width: 200px;
      height: 211px;
    }

    @media (min-width: $desktop) {
      width: 100px;
      height: 106px;
    }
  }

  &--pro {
    width: 67px;
    height: 50px;

    @media (min-width: $tablet) {
      width: 268px;
      height: 200px;
    }

    @media (min-width: $desktop) {
      width: 134px;
      height: 100px;
    }
  }
}

.categories-card__description {
  grid-column: span 2;
  text-align: left;
  margin: 0;
  padding: 0 0 15px 0;
  border-bottom: 1px solid $grey-light;
  color: $primary-text-color;

  @media (min-width: $tablet) {
    color: $secondary-text-color;
    grid-column: 1;
    border: 0;
  }
}

.categories-card__link {
  grid-column: span 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  margin: 10px 0 0 0;

  @media (min-width: $tablet) {
    grid-column: 1;
  }
}

.categories-card__link:active {
  opacity: 0.3;
}

.categories-card__link-text {
  padding: 0 10px 0 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: $secondary-text-color;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: normal;
  }
}
