@use "../global/variables" as *;

.categories-card {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
  align-items: center;
  gap: 0 11px;
  padding: 20px 20px 22px;
  background: $secondary-bg-color;

  @media (min-width: $tablet) {
    gap: 0 24px;
    padding: 77px 29px 57px 52px;
  }

  @media (min-width: $desktop) {
    gap: 0 47px;
    padding: 41px 61px 59px 52px;
  }
}

.categories-card__title {
  grid-column: 2;
  grid-row: 1;
  margin: 1px 0 0;
  font-family: $secondary-font-family;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  color: $secondary-text-color;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    margin: 0 0 24px;
    grid-column: 1;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop) {
    grid-column: 2;
    margin-bottom: 39px;
  }
}

.categories-card__icon {
  margin-left: -8px;
  grid-column: 1;
  grid-row: 1;
  width: 67px;
  height: 53px;
  margin-top: 1px;

  @media (min-width: $tablet) {
    align-self: start;
    grid-column: 2;
    grid-row: span 3;
    width: 268px;
    height: 211px;
    margin-top: 3px;
  }

  @media (min-width: $desktop) {
    margin: 0 0 39px -18px;
    grid-column: 1;
    grid-row: 1;
    width: 134px;
    height: 106px;
  }

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &--slim::before {
    background-image: url("../img/stack.svg#cat-slim");
  }

  &--pro::before {
    margin-top: 1px;
    background-image: url("../img/stack.svg#cat-pro");

    @media (min-width: $tablet) {
      margin-top: 5px;
    }

    @media (min-width: $desktop) {
      margin-top: 2px;
    }
  }
}

.categories-card__description {
  align-self: start;
  grid-column: span 2;
  margin: 0;
  padding: 22px 0;

  @media (min-width: $tablet) {
    margin: 0 0 52px;
    padding: 0;
    line-height: 24px;
    color: $secondary-text-color;
    grid-column: 1;
  }

  @media (min-width: $desktop) {
    margin: 0 0 27px;
    grid-column: span 2;
  }
}

.categories-card__link-wrapper {
  border-top: 1px solid $grey-lighter;
  padding: 19px 0 0;
  grid-column: span 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media (min-width: $tablet) {
    padding: 0;
    grid-column: 1;
    border: 0;
  }

  @media (min-width: $desktop) {
    grid-column: span 2;
  }
}

.categories-card__link {
  display: flex;
  gap: 17px;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: $secondary-text-color;

  @media (min-width: $tablet) {
    gap: 26px;
  }

  &:active {
    opacity: 0.3;
  }

  &:hover .categories-card__link-arrow::before {
    transform: translateX(0);
  }
}

.categories-card__link-text {
  font-family: $secondary-font-family;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: normal;
  }
}

.categories-card__link-arrow {
  width: 32px;
  overflow: hidden;

  &::before {
    content: "";
    display: block;
    mask-image: url("../img/stack.svg#arrow");
    background-color: currentColor;
    width: 32px;
    height: 12px;
    transition: transform 0.5s ease;
    transform: translateX(-8px);
  }
}
