@use "../global/variables" as *;

.extra-goods__wrapper {
  width: 100%;

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 1fr 245px;
    align-items: center;
    gap: 0 81px;
  }
}

.extra-goods__title {
  margin-top: 0;
  margin-bottom: 35px;

  @media (min-width: $tablet) {
    margin-bottom: 80px;
    grid-column: span 2;
  }

  @media (min-width: $desktop) {
    margin-bottom: 78px;
  }
}

.extra-goods__list {
  display: grid;
  align-items: stretch;
  margin: 0 0 34px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.extra-goods__item:not(:last-child) {
  margin-bottom: -1px;
}
