@use "../global/variables" as *;

.extra-item {
  padding: 12px 0 19px;
  display: grid;
  justify-content: stretch;
  align-items: center;
  border-bottom: 1px solid $primary-border-color;
  border-top: 1px solid $primary-border-color;

  &:last-child {
    border-bottom: 1px solid $primary-border-color;
  }

  @media (min-width: $tablet) {
    grid-template-columns: 1fr auto;
    gap: 24px 20px;
    padding: 26px 37px 27px;
    border: 1px solid $primary-border-color;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr 244px;
    gap: 40px;
    padding: 15px 0 16px;
    border: 0;
    border-top: 1px solid $primary-border-color;

    &:last-child {
      border-bottom: 1px solid $primary-border-color;
    }
  }
}

.extra-item__title {
  margin: 0 0 13px;
  font-family: $secondary-font-family;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: $grey-dark;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    margin: 0;
  }
}

.extra-item__characteristics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-bottom: 15px;
  line-height: 14px;
  color: $primary-text-color;

  @media (min-width: $tablet) {
    grid-template-columns: repeat(2, auto);
    gap: 0 54px;
    margin-bottom: -3px;
    line-height: 20px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr minmax(41px, auto);
  }
}

.extra-item__value {
  justify-self: end;
  margin: 0;

  @media (min-width: $desktop) {
    justify-self: start;
  }
}

.extra-item__button {
  @media (min-width: $tablet) {
    padding: 10px 26px 11px;
    font-size: 16px;
    line-height: 20px;
    grid-column: span 2;
  }

  @media (min-width: $desktop) {
    grid-column: 3;
  }
}
