@use "../global/variables" as *;

.extra-goods__wrapper {
  width: 100%;

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    gap: 0 81px;
  }
}

.extra-goods__title {
  margin-top: 0;
  margin-bottom: 36px;

  @media (min-width: $tablet) {
    margin-bottom: 80px;
    grid-column: span 2;
  }
}

.extra-goods__list {
  display: grid;
  align-items: stretch;
  margin: 0 0 35px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) {
    margin: 0 0 70px;
  }

  @media (min-width: $desktop) {
    margin: 0;
  }
}

.extra-goods__item:not(:last-child) {
  margin-bottom: -1px;
}

.extra-goods__gift-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  padding: 58px 61px 43px 58px;
  background-image: $primary-linear-gradient,
  image-set(
      url("../img/content/gift-mobile.jpg") 1dppx,
      url("../img/content/gift-mobile@2x.jpg") 2dppx
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;


  @media (min-width: $tablet) {
    flex-direction: row;
    gap: 264px;
    padding: 57px 125px 60px 77px;
    background-image: $primary-linear-gradient,
    image-set(
        url("../img/content/gift-tablet.jpg") 1dppx,
        url("../img/content/gift-tablet@2x.jpg") 2dppx
    );
  }

  @media (min-width: $desktop) {
    align-self: stretch;
    flex-direction: column;
    gap: 46px;
    padding: 56px 42px 43px;
    background-image: $primary-linear-gradient,
    image-set(
        url("../img/content/gift-desktop.jpg") 1dppx,
        url("../img/content/gift-desktop@2x.jpg") 2dppx
    );
  }
}

.extra-goods__gift-text {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $secondary-color;
}
