@use "../global/variables" as *;

.gift {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 48px;
  padding: 58px 61px 43px 58px;
  background-image: $primary-linear-gradient,
    image-set(
      url("../img/content/gift-mobile.jpg") type("image/jpg") 1dppx,
      url("../img/content/gift-mobile@2x.jpg") type("image/jpg") 2dppx
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;


  @media (min-width: $tablet) {
    grid-template-columns: repeat(2, auto);
    gap: 264px;
    padding: 56px 125px 60px 77px;
    background-image: $primary-linear-gradient,
      image-set(
        url("../img/content/gift-tablet.jpg") type("image/jpg") 1dppx,
        url("../img/content/gift-tablet@2x.jpg") type("image/jpg") 2dppx
    );
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr;
    align-self: stretch;
    flex-direction: column;
    gap: 46px;
    padding: 56px 42px 43px;
    background-image: $primary-linear-gradient,
      image-set(
        url("../img/content/gift-desktop.jpg") type("image/jpg") 1dppx,
        url("../img/content/gift-desktop@2x.jpg") type("image/jpg") 2dppx
    );
  }

  &::before {
    content: "";
    mask-image: url("../img/stack.svg#gift");
    background-color: $secondary-color;
    width: 78px;
    height: 81px;

    @media (min-width: $tablet) {
      width: 80px;
      height: 83px;
    }
  }
}

.gift-text {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $secondary-color;

  @media (min-width: $tablet) {
    text-align: left;
  }

  @media (min-width: $desktop) {
    text-align: center;
  }
}
