@use "../global/variables" as *;

.gift-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 30px 20px;
  background-image: linear-gradient(to top, rgba($primary-color, 0.85), rgba($primary-color, 0.85)), url("../img/content/gift-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.gift-container__text {
  font-family: $primary-font-family;
  font-size: 14px;
  font-weight: 400;
  color: $secondary-color;
  margin: 0;
  text-align: center;
}
