@use "../global/variables" as *;

.how-work {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;

  @media (min-width: $tablet) {
    padding: 0 30px;
  }

  @media (min-width: $desktop) {
    padding: 0 110px;
  }
}

.how-work__title {
  margin: 0 0 20px 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 1;

  @media (min-width: 768px) {
    font-size: 60px;
  }
}

.how-work__list {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  gap: 20px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 70px 170px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.how-work__item {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: center;
  align-items: center;
  gap: 20px;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr;
    padding: 0 0 50px;
  }

  &--first {
    @media (min-width: $tablet) {
      background-image: url("../img/icons/number_1.svg");
      background-repeat: no-repeat;
      background-position: right center;
      background-size: contain;
    }
  }

  &--second {
    @media (min-width: $tablet) {
      background-image: url("../img/icons/number_2.svg");
      background-repeat: no-repeat;
      background-position: right center;
      background-size: contain;
    }
  }

  &--third {
    @media (min-width: $tablet) {
      background-image: url("../img/icons/number_3.svg");
      background-repeat: no-repeat;
      background-position: right center;
      background-size: contain;
    }
  }

  &--fourth {
    @media (min-width: $tablet) {
      background-image: url("../img/icons/number_4.svg");
      background-repeat: no-repeat;
      background-position: right center;
      background-size: contain;
    }
  }
}

.how-work__picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: $primary-color;

  @media (min-width: $tablet) {
    width: 80px;
    height: 80px;
  }
}

.how-work__description {
  margin: 0;
  text-align: left;
  color: $primary-text-color;
}
