@use "../global/variables" as *;

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 27px 0 0;

  @media (min-width: $tablet) {
    padding: 0;
  }

  @media (min-width: $desktop) {
    padding-bottom: 82px;
  }
}

.intro__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet) {
    position: relative;
    align-items: start;
    padding: 0 120px 526px;
  }

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 80px;
  }
}

.intro__title {
  margin: 0 0 25px;
  text-align: center;
  color: $secondary-color;

  @media (min-width: $tablet) {
    margin: 65px 0 40px;
    text-align: left;
    color: $secondary-text-color;
  }

  @media (min-width: $desktop) {
    margin-top: 110px;
    grid-column: 1;
    grid-row: 1;
  }
}

.intro__slogan {
  margin: 0 0 29px;
  font-family: $secondary-font-family;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: $secondary-color;

  @media (min-width: $tablet) {
    margin-bottom: 50px;
    text-align: left;
    font-size: 20px;
    color: $secondary-text-color;
  }

  @media (min-width: $desktop) {
    margin-bottom: 52px;
    grid-column: 1;
    grid-row: 2;
  }
}

.intro__image-wrapper {
  align-self: center;
  margin: 0 0 3px;

  @media (min-width: $tablet) {
    margin: 0;
    position: absolute;
    z-index: -1;
    bottom: 0;
  }

  @media (min-width: $desktop) {
    position: relative;
    top: 30px;
    left: -140px;
    grid-column: 2;
    grid-row: 1 / 5;
  }
}

.intro__image {
  display: block;

  @media (min-width: $tablet) {
    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop) {
    width: 552px;
    height: 499px;
  }
}

.intro__button {
  align-self: stretch;

  @media (min-width: $tablet) {
    align-self: inherit;
  }

  @media (min-width: $desktop) {
    justify-self: start;
    grid-column: 1;
    grid-row: 3;
  }
}

.intro__background-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 64% auto;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: 100%;

  @media (min-width: $tablet) {
    display: none;
  }

  @media (min-width: $desktop) {
    top: -120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: calc(100% + 120px);
  }
}

.intro__background-image {
  position: relative;
  flex: 1 0 302px;
  width: 100%;
  height: 302px;
  background-image: linear-gradient(to top, rgba($primary-color, 0.85), rgba($primary-color, 0.85)), url("../img/content/cat-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: $desktop) {
    width: 100%;
    height: 100%;
    grid-column: 2;
    grid-row: 1;
    background-image: linear-gradient(to top, rgba($primary-color, 0.85), rgba($primary-color, 0.85)), url("../img/content/cat-background-desktop.jpg");
    background-position: left;
  }
}

.intro__background-color {
  width: 100%;
  height: 100%;

  @media (min-width: $desktop) {
    grid-column: 1;
    grid-row: 1;
  }
}
