@use "../global/variables" as *;

.live-example {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0 40px;
  background-color: $special-bg-color;
  background-size: 100vw;

  @media (min-width: $tablet) {
    padding: 45px 0 101px;
    background-color: transparent;
    background-image: linear-gradient(to top, rgba($special-bg-color, 0.85) 462px, transparent 462px);
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: $desktop) {
    padding: 0 0 75px;
    background-image: linear-gradient(to top, rgba($special-bg-color, 0.85) 462px, transparent 462px);
  }
}

.live-example__container {
  display: grid;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop) {
    gap: 0 224px;
  }
}

.live-example__title {
  margin: 0 0 40px;
  line-height: 40px;

  @media (min-width: 768px) {
    grid-column: span 2;
    margin: 0 0 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop) {
    grid-column: 1;
    grid-row: 1;
    margin: 0 0 146px;
  }
}

.live-example__text {
  margin: 0 0 20px;
  line-height: 18px;
  color: $primary-text-color;

  @media (min-width: $tablet) {
    line-height: 24px;
    margin: 0 0 55px;
    grid-column: span 2;
  }

  @media (min-width: $desktop) {
    margin: 0 0 69px;
    grid-column: 1;
    grid-row: 2;
  }
}

.live-example__result-list {
  margin: 0 0 34px;
  display: grid;
  grid-template-columns: repeat(2, 124px);
  justify-content: center;
  align-items: center;
  gap: 32px;

  @media (min-width: $tablet) {
    grid-template-columns: repeat(2, 162px);
    margin: 0;
  }

  @media (min-width: $desktop) {
    margin: 0 0 60px;
    grid-column: 1;
    grid-row: 3;
  }
}

.live-example__result-item {
  position: relative;
  text-align: center;
}

.live-example__number {
  font-family: $secondary-font-family;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: $secondary-text-color;
  padding: 14px 0 17px;
  border: 1px solid $primary-border-color;
  border-radius: 3px;

  @media (min-width: $tablet) {
    font-size: 30px;
    line-height: 37px;
  }
}

.live-example__description {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  margin: 0;
  padding: 0 15px;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  color: $primary-text-color;
  background: $special-bg-color;

  @media (min-width: $tablet) {
    font-size: 14px;
    background: $secondary-color;
  }

  @media (min-width: $desktop) {
    background: $special-bg-color;
  }
}

.live-example__expenses {
  margin: 0 0 20px;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;

  @media (min-width: $tablet) {
    margin: 0;
    justify-self: end;
    flex-direction: column;
    justify-content: end;
    gap: 9px;
  }

  @media (min-width: $desktop) {
    justify-self: center;
    grid-column: 1;
    grid-row: 4;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0 63px;
  }
}

.live-example__expenses-text {
  margin: 0;
  font-family: $secondary-font-family;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $secondary-text-color;

  @media (min-width: $tablet) {
    font-size: 20px;
    align-self: end;
    text-align: right;
  }
}

.live-example__slider {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet) {
    margin-top: 99px;
    grid-column: span 2;
  }

  @media (min-width: $desktop) {
    margin-top: 0;
    grid-column: 2;
    grid-row: span 4;
  }
}

.live-example__image {
  @media (min-width: $tablet) {
    width: 560px;
    height: 512px;
  }
}
