@use "../global/variables" as *;

.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location--secondary {
  background: $secondary-bg-color;
}

.location__wrapper {
  //display: flex;
  //flex-flow: column nowrap;
  //justify-content: center;
  //align-items: center;
  //width: 100%;

  @media (min-width: $desktop) {
    position: absolute;
    height: 400px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
}

.location__address {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: stretch;
  padding: 26px 0;
  width: 100%;

  @media (min-width: $tablet) {
    padding: 60px 0;
  }

  @media (min-width: $desktop) {
    position: relative;
    //top: 95px;
    width: auto;
    gap: 50px;
    padding: 60px 60px;
    background: $primary-bg-color;
  }
}

.location__title {
  margin: 0;
  font-family: $secondary-font-family;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: $grey-darker;

  @media (min-width: $tablet) {
    width: 163px;
    font-size: 20px;
    line-height: 26px;
  }
}

.location__text-container {
  display: grid;
  justify-content: end;
  align-content: start;
  gap: 20px;
  margin: 0;
  text-align: right;
  line-height: 20px;
  color: $primary-text-color;

  @media (min-width: $tablet) {
    justify-self: end;
    text-align: right;
  }

  @media (min-width: $desktop) {
    text-align: left;
  }
}

.location__text {
  margin: 0;

  @media (min-width: $tablet) {
    width: 157px;
  }
}

.location__map-wrapper {
  width: 100%;
  height: 362px;

  @media (min-width: $tablet) {
    height: 400px;
  }
}

.location__map {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
