@use "../global/variables" as *;

.product-item {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 21px 20px 24px;
  border-top: 1px solid $grey-very-light;

  @media (min-width: $tablet) {
    align-self: stretch;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    align-content: stretch;
    padding: 0 37px 40px;
    background-image: linear-gradient(to bottom, transparent 81px, $secondary-bg-color 81px);
    border: 0;
  }

  &--more {
    grid-template-columns: 1fr;
    justify-items: center;
    border-bottom: 1px solid $grey-very-light;

    @media (min-width: $tablet) {
      background: transparent;
      margin-top: 81px;
      border: 1px solid $secondary-bg-color;
    }
  }
}

.product-item__image-wrapper {
  grid-row: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;

  @media (min-width: $tablet) {
    grid-row: 1;
    height: 210px;
    margin: 10px 0 22px;
  }

  @media (min-width: $desktop) {
    margin: 10px 0 12px;
  }

  &--more {
    grid-row: 1;
    align-items: flex-end;
    margin: 3px 0 24px;
    height: auto;

    @media (min-width: $tablet) {
      margin: -99px 0 50px;
      height: 210px;
    }

    @media (min-width: $desktop) {
      margin: -60px 0 0;
    }
  }
}

.product-item__image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.product-item__icon {
  position: relative;
  align-self: end;
  width: 30px;
  height: 30px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet) {
    width: 60px;
    height: 60px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 40px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    mask-image: url("../img/stack.svg#plus");
    background-color: $grey-light;
  }
}

.product-item__title-link {
  margin: 0 42px 16px 0;

  @media (min-width: $tablet) {
    margin: 0 50px 14px;
  }

  @media (min-width: $desktop) {
    margin: 0 6px 20px;
  }

  &:hover > .product-item__title {
    color: $text-color-hover;
  }

  &:active > .product-item__title {
    color: $text-color-active;
  }
}

.product-item__title {
  margin: 0;
  font-family: $secondary-font-family;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $grey-dark;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  &--more {
    margin: 0 0 9px;
    text-align: center;

    @media (min-width: $tablet) {
      margin: 0 35px 23px;
    }

    @media (min-width: $desktop) {
      margin: 0 0 26px;
    }
  }
}

.product-item__parameters {
  align-self: start;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  color: $primary-text-color;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 20px;
  }
}

.product-item__row {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet) {
    padding: 5px 0 6px;
    border-bottom: 1px solid $primary-border-color;
  }

  @media (min-width: $desktop) {
    margin-bottom: 1px;
  }
}

.product-item__value {
  text-align: right;
  margin: 0;
}

.product-item__text {
  align-self: start;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $primary-text-color;

  @media (min-width: $tablet) {
    padding: 0 35px;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $desktop) {
    padding: 0;
  }
}

.product-item__button {
  margin-top: 19px;
  grid-column: span 2;
  width: 100%;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet) {
    grid-column: 1;
    margin: 31px 0 0;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 20px;
  }

  &--more {
    grid-column: 1;
    margin-top: 20px;
    background: $secondary-bg-color;
    color: $primary-text-color;

    &:hover {
      background: $grey-very-light;
    }

    &:active {
      color: rgba($primary-text-color, 0.3);
    }

    &:focus {
      outline: 2px solid $grey-medium;
    }
  }
}
