@use "../global/variables" as *;

.product-catalog {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-catalog__list {
  display: grid;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(4, 1fr);
    gap: 63px 80px;
  }
}
