@use "../global/variables" as *;

.product-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 25px;
  border-top: 1px solid $grey-lighter;

  @media (min-width: $tablet) {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 37px 40px;
    background-image: linear-gradient(to top, $secondary-bg-color 430px, transparent 430px);
    border: 0;
  }

  &:last-child {
    border-bottom: 1px solid $grey-lighter;
  }

  &--more {
    display: flex;
    gap: 10px;
    flex-flow: column nowrap;

    @media (min-width: $tablet) {
      height: 430px;
      align-self: end;
      background: $primary-bg-color;
      border: 1px solid $secondary-bg-color;
    }

    @media (min-width: $desktop) {
      max-width: 430px;
    }
  }
}

.product-item__image-wrapper {
  justify-self: center;
}

.product-item__image {
  @media (min-width: $tablet) {
    width: 100%;
    height: auto;
  }
}

.product-item__container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}

.product-item__title {
  align-self: center;
  margin: 10px 0;
  padding-right: 25px;
  font-family: $secondary-font-family;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $grey-dark;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    margin: 40px 0 20px;
    padding: 0 50px;
    //max-width: 135px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $desktop) {
    padding: 0 40px;
  }

  &--more {
    padding-right: 0;
    text-align: center;

    @media (min-width: $tablet) {
      padding: 0;
    }
  }
}

.product-item__parameters {
  display: grid;
  grid-template-columns: 1fr;
  margin: 10px 0;
  font-size: 12px;
  line-height: 16px;
  color: $primary-text-color;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 20px;
  }
}

.product-item__row {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet) {
    padding: 5px 0;
    border-bottom: 1px solid $primary-border-color;
  }
}

.product-item__value {
  justify-self: center;
  margin: 0;

  @media (min-width: $tablet) {
    justify-self: end;
  }
}

.product-item__text {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $primary-text-color;

  @media (min-width: $tablet) {
    margin: 0 0 82px;
    font-size: 16px;
    line-height: 18px;
  }
}

.product-item__button {
  grid-column: span 2;
  width: 100%;

  @media (min-width: $tablet) {
    margin: 32px 0 0;
  }
}
