@use "../global/variables" as *;

.program-selection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.program-selection__title {
  margin: 27px 0 37px;

  @media (min-width: $tablet) {
    margin: 65px 0 54px;
  }

  @media (min-width: $desktop) {
    grid-column: span 2;
    margin: 74px 0 55px;
  }
}

.program-selection__description {
  margin: 0 0 39px;
  font-family: $secondary-font-family;
  font-size: 14px;
  text-transform: uppercase;
  color: $secondary-text-color;

  @media (min-width: $tablet) {
    margin: 0 0 66px;
    width: 330px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop) {
    grid-column: span 2;
  }
}
