@use "../global/variables" as *;

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  background: $secondary-bg-color;

  @media (min-width: $tablet) {
    padding: 55px 0;
  }

  @media (min-width: $desktop) {
    padding: 66px 0;
  }
}

.footer__container {
  display: grid;
  align-items: center;
  width: 100%;

  @media (min-width: $tablet) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.footer__logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

  @media (min-width: $tablet) {
    justify-content: flex-start;
  }
}

.footer__logo {
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }
}
