@use "../global/variables" as *;

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  background: $secondary-bg-color;

  @media (min-width: $tablet) {
    padding: 57px 0;
  }

  @media (min-width: $desktop) {
    padding: 68px 0 66px;
  }
}

.footer__container {
  display: grid;
  align-items: center;
  width: 100%;

  @media (min-width: $tablet) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.footer__logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet) {
    justify-content: flex-start;
  }
}

.footer__logo {
  margin-bottom: 19px;
  width: 128px;
  height: 24px;
  mask-image: url("../img/stack.svg#logo-footer");
  background-color: $grey-darker;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    background-color: $logo-color-hover;
  }

  &:active {
    background-color: $logo-color-active;
  }
}
