@use "../global/variables" as *;

.social {
  padding: 20px 0 19px;
  border-top: 1px solid $grey-lighter;
  border-bottom: 1px solid $grey-lighter;

  @media (min-width: $tablet) {
    padding: 0;
    border: 0;
  }
}

.social__list {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 0;
  list-style: none;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link {
  display: block;
  background-color: $grey-dim;
  width: 28px;
  height: 22px;

  &:hover,
  &:active {
    background-color: $primary-color;
  }

  &:active {
    opacity: 0.3;
  }

  &--vkontakte {
    mask-image: url("../img/stack.svg#vkontakte");
  }

  &--youtube {
    mask-image: url("../img/stack.svg#youtube");
  }

  &--telegram {
    mask-image: url("../img/stack.svg#telegram");
  }
}
