@use "../global/variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  --primary-color: #{$primary-color};
  --special-color: #{$special-color};
}
