@use "variables" as *;

.title-h2 {
  margin: 0;
  font-family: $secondary-font-family;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: $secondary-text-color;
  max-width: 230px;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
    max-width: 100%;
  }

  @media (min-width: $desktop) {
    max-width: 1220px;
  }
}
