@use "variables" as *;

.title-h2 {
  margin: 0;
  text-align: left;
  font-family: $secondary-font-family;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: $secondary-text-color;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
  }

  &--low {
    line-height: 24px;

    @media (min-width: $tablet) {
      line-height: 36px;
    }
  }
}
