@use "variables" as *;

.title-wrapper {
  display: grid;
  grid-template-columns: 0 auto 1fr;
  gap: 20px;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet) {
    grid-template-columns: 30px auto 1fr;
    gap: 40px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: auto auto 1fr;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    height: 17px;
    border-bottom: 2px solid $primary-color;

    @media (min-width: $tablet) {
      height: 23px;
    }
  }

  &::before {
    width: 0;

    @media (min-width: $tablet) {
      width: 30px;
    }

    @media (min-width: $desktop) {
      width: calc(50vw - 650px);
    }
  }
}
