$primary-text-color: #444444;
$secondary-text-color: #000000;

$primary-font-family: "Lato", "Arial", sans-serif;
$secondary-font-family: "Oswald", "Arial", sans-serif;

$primary-color: #68b738;
$secondary-color: #ffffff;
$special-color: #000000;

$primary-bg-color: #ffffff;
$secondary-bg-color: #f2f2f2;
$special-bg-color: #eaeaea;

$primary-border-input: #e7e7e7;

$primary-border-color: #cdcdcd;
$secondary-border-color: #e6e6e6;

$hover-button-color: #5eaa2f;
$focus-button-color: #427821;

$grey-very-light: #ebebeb;
$grey-lighter: #d9d9d9;
$grey-light: #d3d3d3;
$grey-medium: #bababa;
$grey-dim: #666666;
$grey-dark: #222222;
$grey-darker: #111111;

$status-error: #ff8282;

$text-color-hover: #3e3e3e;
$text-color-active: #6b6b6b;

$primary-linear-gradient: linear-gradient(to top, rgba($primary-color, 0.85), rgba($primary-color, 0.85));

$tablet: 768px;
$desktop: 1440px;
