$primary-text-color: #444444;
$secondary-text-color: #000000;

$primary-font-family: lato, arial, sans-serif;
$secondary-font-family: oswald, arial, sans-serif;

$primary-color: #68b738;
$secondary-color: #ffffff;

$primary-background-color: #ffffff;
$secondary-background-color: #f2f2f2;
$special-background-color: #eaeaea;

$primary-border-input: #e7e7e7;

$color-line-navigation: #e6e6e6;
$color-line-block: #cdcdcd;

$green-medium: #5eaa2f;

$grey-lighter: #ebebeb;
$grey-light: #d9d9d9;
$grey-medium: #bababa;
$grey-dark: #222222;
$grey-darker: #111111;

$status-error: #ff8282;

$tablet: 768px;
$desktop: 1440px;
