@use "../variables" as *;

.navigation {
  grid-column: span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  @media (min-width: $tablet-min-width) {
    grid-column: span 1;
  }
}

.navigation__wrapper {
  width: 100%;
}

.navigation__list {
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-min-width) {
    flex-flow: row nowrap;
  }
}

.navigation__item {
  border-top: 1px solid $color-line-navigation;

  @media (min-width: $tablet-min-width) {
    border: 0;
  }

  &:last-child {
    border-bottom: 1px solid $color-line-navigation;
    @media (min-width: $tablet-min-width) {
      border: 0;
    }
  }
}

.navigation__link {
  padding: 10px 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  color: $primary-text-color;

  @media (min-width: $tablet-min-width) {
    text-transform: uppercase;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.navigation__link-text {
  &--current {
    padding: 0 0 4px;
    margin: 0 0 -6px;
    border-bottom: 2px solid $primary-color;
  }
}
