@use "../global/variables" as *;

.header {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;

  @media (min-width: $tablet) {
    grid-template-columns: auto 1fr;
    padding: 25px 33px 0 30px;
  }

  @media (min-width: $desktop) {
    padding: 56px 110px 0;
  }
}

.header__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  padding: 13px 0 10px;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    padding: 0;
  }
}

.header__logo {
  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.header__logo-image {
  @media (min-width: $tablet) {
    width: 60px;
    height: 50px;
  }

  @media (min-width: $desktop) {
    width: 70px;
    height: 59px;
  }
}

.header__logo-item {
  &--secondary {
    justify-self: center;
  }
}

.header__logo-text {
  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.header__logo-text-image {
  @media (min-width: $tablet) {
    width: 119px;
    height: 21px;
  }
}

.header__nav {
  grid-column: span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 -20px;

  @media (min-width: $tablet) {
    justify-self: end;
    grid-column: 2;
    grid-row: 1;
    margin: 0;
  }
}
