@use "../variables" as *;

.copyright {
  padding: 20px 0;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;

  &:active > .copyright__text {
    opacity: 0.3;
  }
}

.copyright__text {
  font-family: $secondary-font-family;
  font-size: 20px;
  color: $primary-text-color;
}
