@use "../variables" as *;

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $secondary-background-color;
}

.footer__wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.footer__logo-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid $grey-light;
}

.footer__logo-text-link {
  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.footer__social {
  border-bottom: 1px solid $grey-light;
}
